# Maven# Maven

/target//target/

!.mvn/wrapper/maven-wrapper.jar!.mvn/wrapper/maven-wrapper.jar



# IntelliJ IDEA# IDEs

/.idea//.idea/

*.iml/.vscode/

*.ipr*.iml

*.iws

# OS files

# VS Code.DS_Store

.vscode/Thumbs.db



# Mac/Linux/Windows junk# Logs

.DS_Store*.log

Thumbs.db
